*.pyc
*.ipynb
*.csv
*.pt
*.err
*.out
*.log
*.pdbqt
*.pdb
*.sdf
*.smi
*.pkl
*.gz
*.txt
*.sh
*.batch
*.hdf5
*.npy
*.h5
*.png
*.pdf

.vscode/
.DS_Store
analyze_test_loss.py
config_local
scripts/umap_fig_plotly.py
scripts/distance.py
fps_umap.py
molpal_umap.py
