*.pyc
*.sdf
*.smi
*.h5
*.csv
*.pdb
*.pdbqt
*.dms
*.sph
*.mol2
*.bmp
*.nrg
*.gz
*.zip
*.batch
*.txt
*.ini
*.err
*.in
*.out
*.ipynb
*.batch
*.png
*.pkl
*.json
*/chkpts/*
*.sh
*.npy
*.ini
*~
*.pdf
*.png

.DS_Store*
.ipynb_checkpoints*
lightning_logs
old_analyze_sar.py
.gitignore
