configargparse
h5py
numpy
ray[default]==1.12.1
pytorch-lightning==1.6.3
scikit-learn
tensorflow==2.10
tensorflow-addons
tqdm
pygmo
imageio
ipykernel
pathlib 
matplotlib 
pandas 
setuptools
scipy
pygmo
pymoo
umap-learn
seaborn 